/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* - Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

/* font-size: 10px;
10px / 16px = 0.625 = 62.5%
Percentage of users browser font-size setting 

 */

/* html {
  font-size: 62.5%;
  overflow-x: hidden;
} */
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  background-color: #540b51;
  /* display: flex;
  flex: 1;
  flex-direction: column; */
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
}
@media (max-width: 767px) {
  .nav-bar ul {
    display: none;
  }

  .nav-bar {
    background-color: #540b51;
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 30px;
  }

  .logo-slack-bar {
    display: flex;
    flex: 1;
    margin-left: 4%;
    justify-content: space-between;
  }

  .logo-slack {
    height: 25px;
    width: 100px;
  }

  .icon-navbar {
    margin-right: 5%;
    display: flex;
  }

  .icon-search {
    display: flex;
    align-items: center;
    background: none;
    color: inherit;
    border: none;
    margin-left: 10px;
  }

  .icon-menu {
    display: flex;
    align-items: center;
    background: none;
    color: inherit;
    border: none;
    margin-left: 15px;
  }

  .section-hero {
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 5.2rem;
    background-color: #540b51;
  }

  header {
    margin-top: 1px;
  }

  .hero {
    max-width: 76.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

  h1 {
    /* display: flex;
    flex-direction: center;
    align-self: center; */
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    /* line-height: 1.1; */
    text-align: center;
    color: white;
    /* margin-bottom: 3.2rem; */
  }

  #orangeSpan {
    color: #ecb12f;
  }

  header p {
    color: white;
    font-size: 1rem;
    text-align: center;
  }

  .img-product-ui {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100% height auto;
    background-color: #540b51;
  }

  .hero-button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    gap: 10px;
  }

  .hero-btn1 {
    width: 400px;
    align-self: center;
    height: 100%;
    padding: 10px;
    background-color: #f3eae2;
    color: #540b51;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
  }

  .hero-btn2 {
    width: 400px;
    align-self: center;
    background-color: #4285f4;
    color: white;
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
  }

  .hero-logo-google {
    display: flex;
    overflow: hidden;
    object-fit: scale-down;
    width: 30px;
    height: 30px;
    display: flex;
    border: solid 3px white;
    border-radius: 2px;
    background-color: #fff;
    margin-left: 2px;
    margin-top: 2px;
  }

  .img-product-ui {
    margin-left: -30px;
    padding-top: 20px;
    width: 100%;
    overflow: hidden;
  }

  .img-product-ui img {
    width: 150%;
  }

  main {
    overflow: hidden;
  }

  .logos-section {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    background-color: #f3eae2;
  }

  .logo-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }

  .logo-images img {
    width: 20%;
  }

  .img-mobile {
    background-color: #f3eae2;
    padding-top: 50px;
    width: 100%;
  }

  .img-mobile img {
    width: 95%;
  }

  .slack-team {
    padding: 0 20px;
    /* flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    background-color: #f3eae2; */
  }

  .slack-team h2 {
    padding-top: 20px;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  #arrow {
    content: '\2192';
    color: #4285f4;
  }

  .work-slack {
    padding-top: 50px;
    width: 100%;
    background-color: #f3eae2;
  }

  .work-slack img {
    /* display: flex;
    justify-content: flex-end; */
    width: 95%;
  }

  .work-flex {
    padding-top: 20px;
    padding: 0 20px;
  }

  .speed-slack {
    padding-top: 80px;
    background-color: #f3eae2;
  }

  .speed-slack img {
    padding-top: 50px;
    width: 100%;
  }
  .slack-tools {
    padding: 0 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #f3eae2;
    width: 100%;
  }

  .slack-teams {
    background-color: white;
    padding: 20px;
    text-align: center;
  }

  .slack-teams h3 {
    font-size: 1.5rem;
  }

  .buttons-teams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
  }

  #btn-teams1 {
    width: 400px;
    align-self: center;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #540b51;
    color: white;
    border-radius: 5px;
    border: none;
  }

  #btn-teams2 {
    width: 400px;
    align-self: center;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration-color: #540b51;
    border-radius: 5px;
    background-color: white;
    border-color: #540b51;
  }

  .containerUl {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-self: center;
  }

  .slack-teams ul {
    list-style: none;
    padding: 0;
    width: 60%;
    text-align: center;
  }

  .slack-teams ul li span {
    color: #540b51;
    font-size: 3.5rem;
    font-weight: 600;
  }

  .slack-teams ul li p {
    font-weight: 600;
  }

  .welcome {
    background-color: #540b51;
    color: white;
    text-align: center;
    padding: 20px;
  }
  .welcome h3 {
    font-size: 1.5rem;
  }
  .welcome-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
    cursor: pointer;
    padding-bottom: 40px;
  }

  #btn-welcome1 {
    width: 400px;
    height: fit-content;
    padding: 0.8rem 3rem;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    background-color: #540b51;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
  }

  #btn-welcome2 {
    width: 400px;
    padding: 1rem 3rem;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    background-color: white;
    color: #540b51;
    border-radius: 5px;
    border: 1px solid white;
  }

  footer {
    background-color: white;
    padding: 20px;
    padding-top: 50px;
  }

  footer img {
    width: 10%;
  }

  .footer-sitemap {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    gap: 20px;
  }

  footer ul {
    list-style-type: none;
    padding: 0;
  }

  footer ul li {
    font-size: 0.8rem;
    padding-bottom: 30px;
  }

  .sitemap-title {
    font-weight: 800;
  }

  .footer-ul-container {
    padding-top: 50px;
  }

  .footer-ul {
    font-weight: 800;
  }

  .footer-logos {
    display: flex;
    justify-content: space-between;
  }

  small {
    font-size: 0.7rem;
  }
}
